dmgr;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ndmDev90/bin;synch
nodeagent;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ManagedDev90/bin;synch
appsrv;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ManagedDev90/bin;synch;test_1
dmgr;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ndmDev90/bin;asynch
nodeagent;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ManagedDev90/bin;asynch
appsrv;wasadm;/apps/WebSphere/AppServer-9.0/profiles/ManagedDev90/bin;asynch;test_1
